<div class="row">
<<<<<<< HEAD
    <!--show message-->
  <div class="large-10 medium-10 small-10 columns">
    <% @messages.each do |msg| %>
      <div class="msg-panel">
        <div class="row">
          <div class="large-11 medium-10 small-10 columns">
            <p>
              <%= msg.content %>
            </p>
          </div>
          <div class="large-1 medium-2 small-2 columns">
            <%= image_tag("fix.png", alt:"fix") %>
          </div>
        </div>
        <div class="row">
          <div class="large-5 medium-5 small-5 columns">
            <a class="link-label" href=<%=msg.site_link %> target="_blank">
              <%= msg.site_name %>
            </a>
          </div>
          <div class="large-2 large-offset-3
                      medium-2 medium-offset-2
                      small-2 small-offset-2 columns">
                      <%= link_to "Modify", edit_tag_main_path(msg), :class=>"modify-btn" %>
          </div>
          <div class="large-2 medium-3 small-3 columns">
            <%= link_to "Delete", main_path(msg), method: :delete,:class=>"delete-btn", data:{ confirm: 'Are you sure?'} %>
          </div>
        </div>
      </div>
      <br>
    <% end %>
  </div>

  <!--add message-->
=======
  <div class="large-10 medium-10 small-10 columns">
    <div class="msg-panel">
      <div class="row">
        <div class="large-11 medium-10 small-10 columns">
          <p>
            This is the message place. And this is a lo long story to talk about! So I need to talk long story to every one! I don't know if some one can understand me? Somebody can tell me about this?
          </p>
        </div>
        <div class="large-1 medium-2 small-2 columns">
          <a href="#" data-dropdown="drop">
            <%= image_tag("fix.png", alt:"fix") %>
          </a>
          <ul id="drop" data-dropdown-content class="f-dropdown">
            <li><a href="#">M</a></li>
            <li><a href="#">D</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="large-1 large-offset-9
                    medium-1 medium-offset-9
                    small-1 small-offset-9 columns">
            <a class="link-label" href="http://ohcoder.com" target="_blank">Java</a>
        </div>
      </div>
    </div>
  </div>
>>>>>>> add_message
  <div class="large-2 medium-2 small-2 columns">
    <a href="#" data-reveal-id="note">
      <%= image_tag("note.png", alt:"note") %>
    </a>
    <div id="note" class="reveal-modal medium" data-reveal>
<<<<<<< HEAD
      <%= render partial: "shared/message_form", locals:{message: @message} %>
      <a class="close-reveal-modal">&#215;</a>
    </div>
=======
      <%=form_for :message do |f| %>
        <fieldset>
          <legend>Message</legend>
          <div class="row">
            <div class="row">
              <div class="large-12 columns">
                <%= f.text_area :text, :placeholder => "some description" %>
              </div>
            </div>
            <div class="row">
              <div class="large-4 medium-4 columns">
                <%= f.text_field :site_name, :placeholder => "website name" %>
              </div>
              <div class="large-3 large-offset-5 medium-3 medium-offset-5 columns">
                <%= f.text_field :site_tag, :placeholder => "tag" %>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <%= f.text_field :site_addr, :placeholder => "website link" %>
              </div>
            </div>
            <div class="row">
              <div class="large-2 large-offset-10 columns">
                <%= f.submit "Submit", :class=>"tiny radius button"%>
              </div>
            </div>
          </div>
        </fieldset>
      <% end %>

      <a class="close-reveal-modal">&#215;</a>
    </div>

>>>>>>> add_message
  </div>
</div>
