<div class="row">
  <!--show message-->
  <div class="large-10 medium-10 small-10 columns">
    <br><br>
    <%= render partial: "shared/show_message", locals:{message: @message} %>
  </div>
  <!--add message-->
  <% if current_user %>
  <div class="large-2 medium-2 small-2 columns">
    <a href="#" data-reveal-id="note">
      <%= image_tag("note.png", alt:"note") %>
    </a>
    <div id="note" class="reveal-modal medium" data-reveal>
      <%= render partial: "shared/message_form", locals:{message: @message} %>
      <a class="close-reveal-modal">&#215;</a>
    </div>
  </div>
<% end %>
</div>

<!--show all tags-->
<% content_for :all_tags do %>
  <% @tags.each do |tag| %>
    <p>
      <a class="tag-label" href=<%= tag_path(tag) %>>
        <%= tag %>
      </a>
    </p>
  <% end %>
<% end %>
